/* Targets the launchpad background */
html.dark-mode {
  background: #111;
}

/* Targets the launchpad moving bubbles */
html.dark-mode #sc1235 div {
  filter: saturate(80%) brightness(50%);
}

/* Targets the launchpad app icons */
html.dark-mode #sc1672 a {
  filter: brightness(85%);
}
